In [2]:
!pip install supabase
pip install --upgrade supabase
import pandas as pd 
import numpy as np 
from supabase import create_client, Client

Requirement already satisfied: supabase in c:\users\tuanb\anaconda3\lib\site-packages (2.4.3)
Collecting supabase
  Downloading supabase-2.5.0-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: gotrue<3.0,>=1.3 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (2.4.2)
Requirement already satisfied: httpx<0.28,>=0.24 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (0.27.0)
Requirement already satisfied: postgrest<0.17.0,>=0.14 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (0.16.3)
Requirement already satisfied: realtime<2.0.0,>=1.0.0 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (1.0.4)
Requirement already satisfied: storage3<0.8.0,>=0.5.3 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (0.7.4)
Requirement already satisfied: supafunc<0.5.0,>=0.3.1 in c:\users\tuanb\anaconda3\lib\site-packages (from supabase) (0.4.5)
Requirement already satisfied: pydantic<3,>=1.10 in c:\users\tuanb\anaconda3\lib\site-packages (from gotrue<3.0,>=1.3->supabase) (1.10.7)
Requirement already satisfied: anyio in c:\users\tuanb\anaconda3\lib\site-packages (from httpx<0.28,>=0.24->supabase) (3.5.0)
Requirement already satisfied: certifi in c:\users\tuanb\anaconda3\lib\site-packages (from httpx<0.28,>=0.24->supabase) (2021.10.8)
Requirement already satisfied: httpcore==1.* in c:\users\tuanb\anaconda3\lib\site-packages (from httpx<0.28,>=0.24->supabase) (1.0.5)
Requirement already satisfied: idna in c:\users\tuanb\anaconda3\lib\site-packages (from httpx<0.28,>=0.24->supabase) (2.10)
Requirement already satisfied: sniffio in c:\users\tuanb\anaconda3\lib\site-packages (from httpx<0.28,>=0.24->supabase) (1.2.0)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\tuanb\anaconda3\lib\site-packages (from httpcore==1.*->httpx<0.28,>=0.24->supabase) (0.14.0)
Requirement already satisfied: deprecation<3.0.0,>=2.1.0 in c:\users\tuanb\anaconda3\lib\site-packages (from postgrest<0.17.0,>=0.14->supabase) (2.1.0)
Requirement already satisfied: strenum<0.5.0,>=0.4.9 in c:\users\tuanb\anaconda3\lib\site-packages (from postgrest<0.17.0,>=0.14->supabase) (0.4.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in c:\users\tuanb\anaconda3\lib\site-packages (from realtime<2.0.0,>=1.0.0->supabase) (2.8.2)
Requirement already satisfied: typing-extensions<5.0.0,>=4.11.0 in c:\users\tuanb\anaconda3\lib\site-packages (from realtime<2.0.0,>=1.0.0->supabase) (4.11.0)
Requirement already satisfied: websockets<13,>=11 in c:\users\tuanb\anaconda3\lib\site-packages (from realtime<2.0.0,>=1.0.0->supabase) (12.0)
Requirement already satisfied: packaging in c:\users\tuanb\anaconda3\lib\site-packages (from deprecation<3.0.0,>=2.1.0->postgrest<0.17.0,>=0.14->supabase) (24.0)
Requirement already satisfied: six>=1.5 in c:\users\tuanb\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.8.1->realtime<2.0.0,>=1.0.0->supabase) (1.16.0)
Downloading supabase-2.5.0-py3-none-any.whl (16 kB)
Installing collected packages: supabase
  Attempting uninstall: supabase
    Found existing installation: supabase 2.4.3
    Uninstalling supabase-2.4.3:
      Successfully uninstalled supabase-2.4.3
Successfully installed supabase-2.5.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Your Supabase project details
# Supabase project URL
URL = "https://czturgxbwepdvhiybhjn.supabase.co"
# Supabase API key
KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6dHVyZ3hid2VwZHZoaXliaGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE0MTk2NTEsImV4cCI6MjAyNjk5NTY1MX0.tMpOuyHQ4824mE_IjjxwpvHvDsBUpJSJPrQEZNaByq4"                   
supabase: Client = create_client(URL, KEY)

In [6]:
def convert_table_to_pandas_dataframe(supabase, table_name):
    # Retrieve data from Supabase
    data = supabase.table(table_name).select("*").execute()
        
    # Convert to DataFrame
    df = pd.DataFrame(data.data)

    return df

products_df = convert_table_to_pandas_dataframe(supabase, "Products")
catalogs_df = convert_table_to_pandas_dataframe(supabase, "Catalogs")

In [7]:
products_df.head(5)

,Id,Name,CatalogId,AverageRating,RatingCount
0,a7baef4a-4ccf-cff1-2005-64b556863ec2,Love ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,0.373585,36
1,b4cd3d3f-df3f-15e1-f149-09320da83355,Love wedding band,36b09dc3-9789-4fcb-a3c3-30a048b31608,3.826790,93
2,75425632-6b71-aa87-9f44-e40d262a48cc,"Love ring, 3 diamonds",36b09dc3-9789-4fcb-a3c3-30a048b31608,2.580680,52
3,e6cad1fc-4939-7ffe-5920-20671cefc30c,"Love ring, SM",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.729724,38
4,a242ffe2-67d3-3fb4-dcaf-4b635e4e3b1f,"Love ring, diamond-paved",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.815054,51

In [8]:
catalogs_df.head(5)

,Id,Name,ParentId,CatalogSlug,State,Description,Image
0,e2bff60d-a1d3-49e3-bb34-1a3dde1d7a46,bracelets,None,bracelets,1,Bracelets are versatile accessories that can e...,
1,78423d6b-30e4-487a-be24-116808d8b180,necklaces,None,necklaces,1,Necklaces are captivating adornments that draw...,
2,2a79a1e8-8bf7-43c2-abbf-f1a049786e53,earrings,None,earrings,1,Earrings are essential accessories that can tr...,
3,36b09dc3-9789-4fcb-a3c3-30a048b31608,rings,None,rings,1,Rings are timeless pieces of jewelry that symb...,https://cdn.pnj.io/images/promo/177/nhancuoi-t...

In [9]:
products_df = products_df.merge(catalogs_df[['Id','Name']], left_on='CatalogId', right_on='Id')
products_df.drop(columns=['Id_y'], inplace=True)
products_df = products_df.rename(columns={'Id_x': 'Id', 'Name_x': 'Name', 'Name_y': 'CatalogName'})
products_df.head()

,Id,Name,CatalogId,AverageRating,RatingCount,CatalogName
0,a7baef4a-4ccf-cff1-2005-64b556863ec2,Love ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,0.373585,36,rings
1,b4cd3d3f-df3f-15e1-f149-09320da83355,Love wedding band,36b09dc3-9789-4fcb-a3c3-30a048b31608,3.826790,93,rings
2,75425632-6b71-aa87-9f44-e40d262a48cc,"Love ring, 3 diamonds",36b09dc3-9789-4fcb-a3c3-30a048b31608,2.580680,52,rings
3,e6cad1fc-4939-7ffe-5920-20671cefc30c,"Love ring, SM",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.729724,38,rings
4,a242ffe2-67d3-3fb4-dcaf-4b635e4e3b1f,"Love ring, diamond-paved",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.815054,51,rings

In [10]:
products_df['information_aggregate'] = products_df['Name'] + ' ' + products_df['CatalogName']

In [30]:
products_df[:-5]

,Id,Name,CatalogId,AverageRating,RatingCount,CatalogName,information_aggregate
0,a7baef4a-4ccf-cff1-2005-64b556863ec2,Love ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,0.373585,36,rings,Love ring rings
1,b4cd3d3f-df3f-15e1-f149-09320da83355,Love wedding band,36b09dc3-9789-4fcb-a3c3-30a048b31608,3.826790,93,rings,Love wedding band rings
2,75425632-6b71-aa87-9f44-e40d262a48cc,"Love ring, 3 diamonds",36b09dc3-9789-4fcb-a3c3-30a048b31608,2.580680,52,rings,"Love ring, 3 diamonds rings"
3,e6cad1fc-4939-7ffe-5920-20671cefc30c,"Love ring, SM",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.729724,38,rings,"Love ring, SM rings"
4,a242ffe2-67d3-3fb4-dcaf-4b635e4e3b1f,"Love ring, diamond-paved",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.815054,51,rings,"Love ring, diamond-paved rings"
...,...,...,...,...,...,...,...
159,3f15fc18-4696-0146-c2c6-7c7f9d45c7b6,Juste un Clou single earring,2a79a1e8-8bf7-43c2-abbf-f1a049786e53,0.025299,64,earrings,Juste un Clou single earring earrings
160,5dad3420-6c76-4fe7-0955-2bf94a10cefa,Juste un Clou earrings,2a79a1e8-8bf7-43c2-abbf-f1a049786e53,2.811760,99,earrings,Juste un Clou earrings earrings
161,df8ae4ac-b71a-926e-c16e-af010c3d6196,"Maillon Panthère earrings, 3 diamond-paved rows",2a79a1e8-8bf7-43c2-abbf-f1a049786e53,2.220660,35,earrings,"Maillon Panthère earrings, 3 diamond-paved row..."
162,2f4a9188-826a-0500-0b70-3a2a5a65e5ae,Agrafe earrings,2a79a1e8-8bf7-43c2-abbf-f1a049786e53,4.510650,97,earrings,Agrafe earrings earrings
163,d05e6d15-9cf5-c4e1-0a5b-726d470d90f8,Pluie de Cartier earrings,2a79a1e8-8bf7-43c2-abbf-f1a049786e53,2.305420,45,earrings,Pluie de Cartier earrings earrings

## Plot-based recommender

In [11]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
products_df['information_aggregate'] = products_df['information_aggregate'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(products_df['information_aggregate'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(169, 95)

In [ ]:
len

In [12]:
tfidf

TfidfVectorizer(stop_words='english')

In [13]:
print(tfidf_matrix[0].shape)

(1, 95)

In [14]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [15]:
indices = pd.Series(products_df.index, index=products_df['Id']).drop_duplicates()

In [31]:
indices

Id
a7baef4a-4ccf-cff1-2005-64b556863ec2      0
b4cd3d3f-df3f-15e1-f149-09320da83355      1
75425632-6b71-aa87-9f44-e40d262a48cc      2
e6cad1fc-4939-7ffe-5920-20671cefc30c      3
a242ffe2-67d3-3fb4-dcaf-4b635e4e3b1f      4
                                       ...
4a4bcb35-441a-f91e-bcda-d773b7f75596    164
40688828-2bb4-d1d6-8ff0-38dc3f316148    165
1e76e6b1-3477-a1d4-75f8-9922ebf30611    166
6e615b2f-9e91-85d8-cf4d-b6f79a88ba6f    167
62b5244e-b0d9-3a62-36e0-0c3a2fea90a7    168
Length: 169, dtype: int64

In [32]:
cosine_sim

array([[1.        , 0.47852272, 0.78515804, ..., 0.        , 0.        ,
        0.        ],
       [0.47852272, 1.        , 0.37571596, ..., 0.        , 0.        ,
        0.        ],
       [0.78515804, 0.37571596, 1.        , ..., 0.28072096, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.28072096, ..., 1.        , 0.4608381 ,
        0.6637661 ],
       [0.        , 0.        , 0.        , ..., 0.4608381 , 1.        ,
        0.50097298],
       [0.        , 0.        , 0.        , ..., 0.6637661 , 0.50097298,
        1.        ]])

In [16]:
def get_original_product_id(id):
    return products_df.loc[products_df['Id'] == id, 'Id'].values[0]

In [17]:
# Function that takes in movie title as input and outputs most similar movies
def get_top_five_recommendations(product_id, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[product_id]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[:10]

    # Get the movie indices
    product_indices = [i[0] for i in sim_scores]

#     # Return the top 10 most similar movies
#     return books_df['title'].iloc[book_indices]

    ids = []
    for id in products_df['Id'].iloc[product_indices]:
        ids.append(get_original_product_id(id))
    return ids

In [18]:
get_top_five_recommendations('6f39e2aa-a981-99c2-1ba8-12d14679465c')

['6f39e2aa-a981-99c2-1ba8-12d14679465c',
 '68ac7556-4aa9-f112-7066-ec8183f42785',
 '2300a8fd-7505-3c46-7db2-6ee9ebbaaae6',
 '47655511-c4cf-b623-9d56-f04850775c0f',
 '456cd732-db6b-293a-be88-1ab617fe7609',
 'f3a972d8-db04-1e28-f747-a70375f716ef',
 'a7baef4a-4ccf-cff1-2005-64b556863ec2',
 'c9a0bb86-997b-b4ec-0234-89f075e09882',
 'a3ccce94-9e37-3c48-6a5e-1640ba92b020',
 'c01dab5a-8153-caa0-eca2-bace5471efc4']

In [19]:
products_df[products_df['Id'].isin(get_top_five_recommendations('6f39e2aa-a981-99c2-1ba8-12d14679465c'))]

,Id,Name,CatalogId,AverageRating,RatingCount,CatalogName,information_aggregate
0,a7baef4a-4ccf-cff1-2005-64b556863ec2,Love ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,0.373585,36,rings,Love ring rings
8,6f39e2aa-a981-99c2-1ba8-12d14679465c,Panthère de Cartier ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,4.114630,70,rings,Panthère de Cartier ring rings
12,c9a0bb86-997b-b4ec-0234-89f075e09882,Cactus de Cartier ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,1.307750,5,rings,Cactus de Cartier ring rings
29,456cd732-db6b-293a-be88-1ab617fe7609,Etincelle de Cartier ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,3.684160,27,rings,Etincelle de Cartier ring rings
32,a3ccce94-9e37-3c48-6a5e-1640ba92b020,Reflection de Cartier ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,4.200330,57,rings,Reflection de Cartier ring rings
40,68ac7556-4aa9-f112-7066-ec8183f42785,Maillon Panthère ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,0.073556,17,rings,Maillon Panthère ring rings
43,f3a972d8-db04-1e28-f747-a70375f716ef,"Maillon Panthère ring, 3 diamond-paved rows",36b09dc3-9789-4fcb-a3c3-30a048b31608,0.425178,62,rings,"Maillon Panthère ring, 3 diamond-paved rows rings"
45,c01dab5a-8153-caa0-eca2-bace5471efc4,Pluie de Cartier ring,36b09dc3-9789-4fcb-a3c3-30a048b31608,1.640190,83,rings,Pluie de Cartier ring rings
68,2300a8fd-7505-3c46-7db2-6ee9ebbaaae6,Panthère de Cartier bracelet,e2bff60d-a1d3-49e3-bb34-1a3dde1d7a46,1.445770,97,bracelets,Panthère de Cartier bracelet bracelets
105,47655511-c4cf-b623-9d56-f04850775c0f,Panthère de Cartier necklace,78423d6b-30e4-487a-be24-116808d8b180,4.429640,2,necklaces,Panthère de Cartier necklace necklaces

In [20]:
import logging
from flask import Flask, jsonify, request
from flask_ngrok import run_with_ngrok
import json
from waitress import serve

In [33]:
app = Flask(__name__)
run_with_ngrok(app)

def get_title(id):
    return products_df[products_df['Id'] == id]['Name'].values[0]

@app.route('/predict/<string:id>', methods=['GET'])
def predict(id):
    logging.info(f"Predict request received for product ID: {id}")
    try:
        title = get_title(id)
        logging.info(f"Product name for ID {id}: {title}")
        prediction_result = [x for x in get_top_five_recommendations(id)]
        logging.info(f"Prediction result for product ID {id}: {prediction_result}")
        return json.dumps(prediction_result)
    except Exception as e:
        logging.error(f"Error during prediction: {e}")
        return jsonify({"error": str(e)}), 500

@app.route('/predict_with_title/<string:id>', methods=['GET'])
def predict_with_title(id):
    logging.info(f"Predict with name request received for product ID: {id}")
    try:
        title = get_title(id)
        logging.info(f"Book title for ID {id}: {title}")
        prediction_result = [get_title(x) for x in get_top_five_recommendations(id)]
        response = {
            'name': title,
            'recommendations': prediction_result
        }
        logging.info(f"Prediction result with names for product ID {id}: {response}")
        return jsonify(response)
    except Exception as e:
        logging.error(f"Error during prediction with name: {e}")
        return jsonify({"error": str(e)}), 500

if __name__ == '__main__': 
    print('Starting Flask')
    logging.info("Starting Flask application")
    serve(app, host="0.0.0.0", port=6001)

Starting Flask

In [25]:
pip install waitress flask-ngrok

Requirement already satisfied: waitress in c:\users\tuanb\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: flask-ngrok in c:\users\tuanb\anaconda3\lib\site-packages (0.0.25)
Requirement already satisfied: Flask>=0.8 in c:\users\tuanb\anaconda3\lib\site-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: requests in c:\users\tuanb\anaconda3\lib\site-packages (from flask-ngrok) (2.25.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\tuanb\anaconda3\lib\site-packages (from Flask>=0.8->flask-ngrok) (2.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\tuanb\anaconda3\lib\site-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\tuanb\anaconda3\lib\site-packages (from Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: click>=5.1 in c:\users\tuanb\anaconda3\lib\site-packages (from Flask>=0.8->flask-ngrok) (8.0.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\tuanb\anaconda3\lib\site-packages (from requests->flask-ngrok) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tuanb\anaconda3\lib\site-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\tuanb\anaconda3\lib\site-packages (from requests->flask-ngrok) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tuanb\anaconda3\lib\site-packages (from requests->flask-ngrok) (2021.10.8)
Requirement already satisfied: colorama in c:\users\tuanb\anaconda3\lib\site-packages (from click>=5.1->Flask>=0.8->flask-ngrok) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tuanb\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Note: you may need to restart the kernel to use updated packages.